<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: transparent;
        color: #222;
      }

      .card {
        width: 1200px;
        height: 630px;
        border: 12px solid #c25fff;
        padding: 48px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: transparent;
        box-sizing: border-box;
        position: relative;
      }

      .title {
        font-size: 80px;
        font-weight: bold;
        line-height: 1.1;
      }

      .footer {
        display: flex;
        justify-content: space-between;
        font-size: 28px;
        align-items: center;
      }

      .author-info {
        display: flex;
        align-items: center;
      }

      .author-info svg {
        width: 48px;
        height: 48px;
        flex-shrink: 0;
        margin-left: -5px;
      }

      .tags {
        display: flex;
        gap: 12px;
      }

      .tag {
        background: #eee;
        padding: 6px 12px;
        border-radius: 8px;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <div class="card">
      <div class="title"><%= title %></div>
      <div class="footer">
        <div class="author-info">
          <svg viewBox="0 0 500 500" fill="#c25fff">
            <path
              d="M111.83,18.25v463.5H388.17V18.25Zm243,432.21H145.14V51.56H354.86Z"
            />
            <path
              d="M320.48,82.09H181.22V420.38H320.48V292.73l-22-18.08,22-16.43Zm-48.34,291h-41V279.63l41-21.48Zm0-169.12-41,21.37.08-93.31h41Z"
            />
          </svg>
          <span><%= author %> - <%= date %></span>
        </div>
        <div class="tags">
          <% tags.forEach(tag => { %>
          <span class="tag"><%= tag %></span>
          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
